* {
	font-family: "IBM Plex Sans", Sans-Serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: #fafafa;
}

.color-white {
	color: #fafafa;
}
.color-black {
	color: #212121;
}

hr {
	margin: 50px 0px;
}

body {
	background-color: #212121;
}

h1 {
	font-size: 3.052rem;
}
h2 {
	font-size: 2.441rem;
}
h3 {
	font-size: 1.953rem;
}
h4 {
	font-size: 1.563rem;
}
p {
	font-size: 1.25rem;
	line-height: 1.6;
	padding: 25px 0px;
}

/*
Header
*/

header {
	width: 100%;
	position: absolute;
	margin: 0px auto;
}
header div {
	max-width: 800px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	flex-flow: column;
	text-align: center;
}
header div h1 {
	color: #212121;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	flex-flow: row;
	list-style-type: none;
	margin: 25px 5px;
}
nav ul li a {
	padding: 15px;
	margin: 0px 10px;
	background-color: #212121;
	color: #fafafa;
	text-decoration: none;
	border-radius: 10px;
}

/*
Main
*/

main {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	flex-flow: column;
}
main section {
	margin: 0px auto;
	width: 100%;
}
#landing-container {
	width: 100%;
	height: 700px;
	text-align: center;
	background: linear-gradient(to bottom, transparent 50%, #2b2b2b),
				url("https://picsum.photos/id/465/4928/3264");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
}
#landing-container h1 {
	width: 100%;
	text-shadow: 0px 0px 8px #fafafa;
	color: #212121;
}
#projects {
	background: linear-gradient(to bottom, #2b2b2b, #212121 40%);
	width: 100%;
}
section div {
	padding: 0px 25px;
	max-width: 800px;
	margin: 0px auto;
}
#projects div ul {
	list-style-type: none;
	margin: 25px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
}
#projects div ul li {
	width: 200px;
	box-shadow: 0px 0px 5px #fafafa inset;
	text-align: center;
	margin: 15px;
	padding: 15px;
	border: 2px solid #fafafa;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
}
#projects div ul li a {
	padding: 10px;
	background-color: #01579b;
	border-radius: 10px;
	margin: auto 0px 0px 0px;
	font-weight: 700;
	text-decoration: none;
}

@media screen and (min-width: 600px) {

	header div {
		justify-content: space-between;
		align-content: space-between;
		flex-flow: row;
		text-align: left;
	}

}

@media screen and (min-width: 1000px) {

	#landing-container {
		height: 1000px;
	}

}