* {
	font-family: 'Gochi Hand', cursive;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 18px;
}

body {
	text-align: center;
	background-image: url("../img/notebookPatternLight.png");
	background-repeat: repeat;
	background-position: center;
	background-size: 50px;
	padding: 15px;
}
h1 {
	font-size: 3.97rem;
	color: #0d47a1;
}
h2 {
	font-size: 1.75rem;
}
a {
	background-color: #880e4f;
	font-size: 1.125rem;
	font-weight: 700;
	padding: 5px;
	border-radius: 5px;
	color: #fafafa;
	text-decoration: none;
}
a:hover {
	background-color: #560027;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*
Info Container Design
*/

.fadeInAnimation {
	animation: fadeIn 1s;
}
#info-container {
	max-width: 282px;
	margin: 20px auto;
	justify-content: center;
	align-content: center;
	flex-flow: column;
	opacity: 0;
}
#info-container h1 {
	color: #4caf50;
}
#info-container p {
	font-size: 2.375rem;
	margin: 60px;
}
button {
	background-color: #212121;
	color: #fafafa;
	border: none;
	border-radius: 0px;
	padding: 12px;
	width: 253px;
	font-size: 1.25rem;
	margin: 2px auto 10px;
}
button:hover,
button:active {
	cursor: pointer;
	background-color: #000;
}

/*
Board Game Design
*/

#board-container {
	margin: 50px auto 10px;
	max-width: 300px;
}
.row {
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row;
}
.cell {
	width: 100px;
	height: 100px;
}
.cell:hover {
	cursor: pointer;
}

.cell-border-full {
	border: 2px solid #212121;
}

.cell-border-left-bottom {
	border: 2px solid transparent;
	border-bottom: 2px solid #212121;
	border-left: 2px solid #212121;
}
.cell-border-left-top {
	border: 2px solid transparent;
	border-top: 2px solid #212121;
	border-left: 2px solid #212121;
}

.cell-border-top-right-bottom {
	border: 2px solid transparent;
	border-top: 2px solid #212121;
	border-right: 2px solid #212121;
	border-bottom: 2px solid #212121;
}
.cell-border-top-left-bottom {
	border: 2px solid transparent;
	border-top: 2px solid #212121;
	border-left: 2px solid #212121;
	border-bottom: 2px solid #212121;
}

.cell-border-left-top-right {
	border: 2px solid transparent;
	border-top: 2px solid #212121;
	border-right: 2px solid #212121;
	border-left: 2px solid #212121;
}
.cell-border-left-bottom-right {
	border: 2px solid transparent;
	border-bottom: 2px solid #212121;
	border-left: 2px solid #212121;
	border-right: 2px solid #212121;
}

.cell-border-right-bottom {
	border: 2px solid transparent;
	border-bottom: 2px solid #212121;
	border-right: 2px solid #212121;
}
.cell-border-right-top {
	border: 2px solid transparent;
	border-top: 2px solid #212121;
	border-right: 2px solid #212121;
}
.symbol-img {
	width: 80px;
	height: 80px;
	margin: 10px;
}

/*
Player Info Design
*/

#player-container {
	margin: 25px auto;
	height: 300px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row;
}
.player {
	width: 160px;
	height: 200px;
	padding: 20px;
}
.player img {
	width: 80px;
	height: 80px;
}
.player h4 {
	background-color: #ebebeb;
	border-radius: 10px;
	margin: 15px 0px;;
	padding: 11px;
	font-size: 1.25rem;
}

/*
Controls Container
*/

#controls-container {
	display: flex;
	justify-content: center;
	align-content: center;
	list-style-type: none;
	flex-flow: column;
	margin: 0px auto;
	max-width: 300px;
}
#controls-container a {
	margin: 5px;
}
