* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #0D0D0D;
}
main.container {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
h1 {
    text-align: center;
    font-size: 4em;
    padding: 0 0 1em 0;
    color: #F2F2F2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-shadow: 0 0 .1em #F2F2F2;
}
h1.countdownEnd {
    color: #F2F2F2;
    animation-name: animateHeadline;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
div > div {
    text-align: center;
    padding: 2em;
    border-radius: 2em;
    background-color: #515659;
    box-shadow: 0 0 .4em #515659,
                0 0 .8em #262626;
}
div > h2 {
    font-size: 2.5em;
    padding: 0 0 .5em 0;
    color: #BDBEBF;
    font-weight: 300;
}
div > p {
    font-size: 2.5em;
    color: #F2F2F2;
    font-weight: 700;
}

@media screen and (max-width: calc(64em - 1px)) {

    h1 {
        font-size: 3em;
    }
    div > h2 {
        font-size: 2em;
    }
    div > p {
        font-size: 2em;
    }
    
}

@media screen and (max-width: calc(48em - 1px)) {

    main.container {
        padding: .5em;
    }
    h1 {
        font-size: 2em;
    }
    div > h2 {
        font-size: 1.5em;
    }
    div > p {
        font-size: 2em;
    }

}

@keyframes animateHeadline {
    0% {
        text-shadow: 0 0 .2em hsl(0, 0%, 60%);
        transform: scale(1);
    }
    10% {
        text-shadow: 0 0 .2em hsl(0, 50%, 60%);
    }
    20% {
        text-shadow: 0 0 .2em hsl(45, 50%, 60%);
    }
    30% {
        text-shadow: 0 0 .2em hsl(90, 50%, 60%);
    }
    40% {
        text-shadow: 0 0 .2em hsl(135, 50%, 60%);
    }
    50% {
        text-shadow: 0 0 .2em hsl(170, 50%, 60%);
        transform: scale(1.2);
    }
    60% {
        text-shadow: 0 0 .2em hsl(215, 50%, 60%);
    }
    70% {
        text-shadow: 0 0 .2em hsl(260, 50%, 60%);
    }
    80% {
        text-shadow: 0 0 .2em hsl(305, 50%, 60%);
    }
    90% {
        text-shadow: 0 0 .2em hsl(350, 50%, 60%);
    }
    100% {
        text-shadow: 0 0 .2em hsl(0, 0%, 60%);
        transform: scale(1);
    }
}