* {
	margin: 0px;
	padding: 0px;
	
	font-family: 'Open Sans', arial;
}

body {
	background-color: #fff;
	padding: 10px;
}

header {
	max-width: 800px;
	text-align: left;
	margin: 10px auto;
}

#title {
	color: #880e4f;
}

.display-none {
	display: none;
}

#answers-container,
#info-container,
#start-container {
	box-sizing: border-box;
	background-color: #fafafa;
	box-shadow: 2px 2px 10px #bdbdbd;
	max-width: 800px;
	padding: 25px;
	margin: 50px auto;
	border-radius: 25px;
	word-wrap: break-word;
}
#play {
	margin: 30px 0px 0px 0px;
	max-width: 100px;
	padding: 20px;
	background-color: #64dd17;
	border-radius: 10px;
	box-shadow: 1px 1px 8px #bdbdbd;
	transition: .2s;
	font-size: 20px;
	text-align: center;
}
#play:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px #616161;
}
#next {
	margin: 30px 0px 0px 0px;
	max-width: 100px;
	padding: 20px;
	background-color: #fafafa;
	border-radius: 10px;
	box-shadow: 1px 1px 8px #bdbdbd;
	transition: .2s;
	font-size: 20px;
	text-align: center;
}
#next:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px #616161;
}

#list {
	list-style-position: inside;
	list-style-type: upper-alpha;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

hr,
p {
	margin: 25px 0px 0px 0px;
}

li {
	padding: 15px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px #bdbdbd;
	word-wrap: break-word;
	margin: 25px 0px 0px 0px;
	transition: .2s;
	flex-wrap: row wrap;
	justify-content: space-between;
}
li:hover {
	cursor: pointer;
	box-shadow: 1px 1px 10px #616161;
	transition: .2s;
}

#optionA {
	background-color: #ffca28;
}
#optionB {
	background-color: #42a5f5;
}
#optionC {
	background-color: #66bb6a;
}
#optionD {
	background-color: #ab47bc;
}

@media screen and (min-width: 600px) {

	header {
		max-width: 1000px;
		text-align: left;
		margin: 10px auto;
	}
	#list {
		list-style-position: inside;
		list-style-type: upper-alpha;
		box-sizing: border-box;
		display: flex;
		flex-flow: row wrap;
		align-content: space-between;
		justify-content: space-between;
	}
	#answers-container,
	#info-container,
	#start-container {
		box-sizing: border-box;
		background-color: #fafafa;
		box-shadow: 2px 2px 10px #bdbdbd;
		max-width: 1000px;
		padding: 30px;
		margin: 50px auto;
		border-radius: 25px;
		word-wrap: break-word;
	}
	li {
		padding: 20px;
		min-width: 40%;
		border-radius: 10px;
		box-shadow: 1px 1px 8px #bdbdbd;
		word-wrap: break-word;
		transition: .2s;
		flex-wrap: row wrap;
	}
	li:nth-child(odd) {
		margin: 25px auto 0px 0px;
	}
	li:nth-child(even) {
		margin: 25px 0px 0px auto;
	}
	li:hover {
		cursor: pointer;
		box-shadow: 1px 1px 10px #616161;
		transition: .2s;
	}

}