

h1 {
  font-family: sans-serif;
  font-size: 40px;
}

.display-none {
  display: none;
}
.display-block {
  display: block;
}

#logo {
  text-align: center;
  margin-top: 45px;
}

#btn-roleDice {
  width: 142px;
  font-size: 18px;
  padding: 10px;
  margin: 25px auto;
  display: block;
  background-color: black;
  color: white;
  border: 1px solid black;
  outline: none;
  text-transform: uppercase;
}
#btn-roleDice:hover {
  background-color: #212121;
  cursor: pointer;
}
#btn-roleDice:active {
  background-color: #212121;
  color: dodgerblue;
}

/*
Dot Template
*/

.dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: radial-gradient(circle, #484848, black);
}

/*
Load new template
*/

@keyframes loadingColor {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

#loadinganimation .dot:first-child {
	animation: loadingColor 2s 1 ease-in-out;
	margin: 60px 60px;
	background-image: radial-gradient(circle, hotpink, black);
}

/*
Style Dice
*/

#dice {
  width: 142px;
  height: 142px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 25px auto;
  background-image: radial-gradient(circle, #fff 30%, #efefef 80%, #484848 90%, black);
}

/*
ONE
*/

#one {
  margin: 60px 60px;
}

/*
TWO
*/

#two .dot:first-child {
  margin: 20px 0px 0px 20px;
}
#two .dot:nth-child(2) {
  margin: 60px 0px 0px 100px;
}

/*
THREE
*/

#three .dot:first-child {
  margin: 20px 0px 0px 20px;
}
#three .dot:nth-child(2) {
  margin: 20px 0px 0px 60px;
}
#three .dot:nth-child(3) {
  margin: 20px 0px 0px 100px;
}

/*
FOUR
*/

#four .dot:first-child {
  margin: 20px 0px 0px 20px;
}
#four .dot:nth-child(2) {
  margin: -20px 0px 0px 100px;
}
#four .dot:nth-child(3) {
  margin: 60px 0px 0px 100px;
}
#four .dot:nth-child(4) {
  margin: -20px 0px 0px 20px;
}

/*
FIVE
*/

#five .dot:first-child {
  margin: 20px 0px 0px 20px;
}
#five .dot:nth-child(2) {
  margin: -20px 0px 0px 100px;
}
#five .dot:nth-child(3) {
  margin: 20px 0px 0px 60px;
}
#five .dot:nth-child(4) {
  margin: 20px 0px 0px 100px;
}
#five .dot:nth-child(5) {
  margin: -20px 0px 0px 20px;
}

/*
FOUR
*/

#six .dot:first-child {
  margin: 20px 0px 0px 20px;
}
#six .dot:nth-child(2) {
  margin: -20px 0px 0px 100px;
}
#six .dot:nth-child(3) {
  margin: 20px 0px 0px 100px;
}
#six .dot:nth-child(4) {
  margin: -20px 0px 0px 20px;
}
#six .dot:nth-child(5) {
  margin: 20px 0px 0px 100px;
}
#six .dot:nth-child(6) {
  margin: -20px 0px 0px 20px;
}