* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#slider {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.img-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    position: relative;
    width: 100%;
}
.img-container > figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.img-container > figure > figcaption {
    font-weight: 700;
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
.thumbnails-container {
    z-index: 1000;
    padding: 0 2em;
    width: 100%;
}
.thumbnails {
    margin: 0 auto;
    padding: .5em;
    max-width: 68em;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    scroll-behavior: smooth;
}
.thumbnails.none {
    display: none;
}
.thumbnails img {
    object-fit: cover;
    margin: .25em;
}
.thumbnails.big img {
    min-width: 7em;
    height: 7em;
}
.thumbnails.medium img {
    min-width: 5em;
    height: 5em;
}
.thumbnails.small img {
    min-width: 3em;
    height: 3em;
}
.thumbnails img:hover {
    cursor: pointer;
    border-color: goldenrod !important;
}
img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.controls > * {
    opacity: .8;
    padding: .25em;
    margin: .25em;
    width: 3.5em;
    height: 3.5em;
    border-radius: .5em;
}
.controls > *:hover {
    cursor: pointer;
    opacity: 1;
}
.controls > * > img {
    width: 100%;
    height: 100%;
    padding: .25em;
}

#slider.dark > .img-container > figure {
    background-color: #111;
}
#slider.dark > .img-container > figure > figcaption {
    color: #ccc;
    background-color: hsla(0, 0%, 11%, .8);
}
#slider.dark > .thumbnails-container {
    background-color: hsl(0, 0%, 11%);
}
#slider.dark > .thumbnails-container > .thumbnails img {
    border: .35em solid #111;
}
#slider.dark > .thumbnails-container > .thumbnails img.activePicture {
    border-color: cadetblue;
}
#slider.dark > .img-container > .controls > * {
    background-color: #424242;
}

#slider.light > .img-container > figure {
    background-color: hsl(0, 0%, 96%);
}
#slider.light > .img-container > figure > figcaption {
    color: #212121;
    background-color: hsla(0, 0%, 89%, .8);
}
#slider.light > .thumbnails-container {
    background-color: hsl(0, 0%, 89%);
}
#slider.light > .thumbnails-container > .thumbnails img {
    border: .5em solid hsl(0, 0%, 78%);
}
#slider.light > .thumbnails-container > .thumbnails img.activePicture {
    border-color: steelblue;
}
#slider.light > .img-container > .controls > * {
    background-color: hsl(0, 0%, 89%);
}