.grid {
	display: grid;
	grid-auto-rows: 1fr;
	gap: 2em;
	margin-top: 3em;
	width: 100%;
}

@media screen and (min-width: 64em) {
	.grid-lg-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-lg-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-lg-1 {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 64em) {
	.grid-md-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-md-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-md-1 {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 48em) {
	.grid-sm-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-sm-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-sm-1 {
		grid-template-columns: repeat(1, 1fr);
	}
}


@media screen and (max-width: 30em) {
	.grid-xs-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-xs-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-xs-1 {
		grid-template-columns: repeat(1, 1fr);
	}
}