nav > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	border: 3px solid transparent;
	border-left-color: var(--color-headline-dark);
}
nav > ul > li {
	margin: 0 .5em;
}
nav > ul > li > a {
	border-radius: 0;
	padding: 1em 1em 1em .25em;
	color: var(--color-headline-dark);
	font-size: 1.125em;
	font-family: var(--font-family-headline);
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .05em;
	transition: color .2s ease-in-out, background-color .3s ease-in-out;
}
nav > ul > li > a:hover {
	color: var(--color-text-light);
	background-color: var(--color-headline-dark);
}
nav > ul > li > a.active {
	color: var(--color-text-light);
	background-color: var(--color-comp);
}
nav > ul > li > a.active:hover {
	background-color: var(--color-comp-darker);
}

#mobile-nav-button {
	display: none;
	position: absolute;
	top: 1.5em;
	right: 1em;
	z-index: 15;
	padding: .5em;
	font-size: 1.5em;
	background-color: var(--color-background-light);
	border: 2px solid var(--color-headline-dark);
	transition: color .2s ease-in-out, background-color .3s ease-in-out, top .3s ease-in-out;
}
#mobile-nav-button:hover {
	cursor: pointer;
	color: var(--color-text-light);
	background-color: var(--color-headline-dark);
}
header.compact-header #mobile-nav-button {
	top: .75em;
}

@media screen and (max-width: 48em) {
    header nav {
		margin: 0;
		position: relative;
		width: 100vw;
		height: 100vh;
	}
	header nav > ul {
		position: absolute;
		top: 0em;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background-color: var(--color-background-light);
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border: none;
		overflow-y: auto;
		padding: 2em;
	}
	header nav > ul > li {
		padding: 1em 0;
		width: 100%;
	}
	header nav > ul > li > a {
		border-left: 10px solid var(--color-headline-light);
		transition: border .3s ease-in-out;
	}
	header nav > ul > li > a.active,
	header nav > ul > li > a:hover,
	header nav > ul > li > a.active:hover {
		border-left: 10px solid var(--color-comp);
		background: none;
		color: var(--color-comp-darker);
	}
}