@keyframes messageBoxShow {
    0% {
        transform: scale(1,0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes buttonPressed {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.7);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes newListItem {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #DEEAF6;
}
h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #00017F;
    flex-grow: 2;
}
p, li, div, input[type="text"] {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
main > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    box-sizing: border-box;
}
main > div > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}
main > div > div > div > div {
    background: linear-gradient(135deg, #009C56, #00801C 100%);
    border-radius: .5em;
    padding: .5em;
    color: #F3F9FF;
    margin: 0 .25em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    transition: opacity .2s ease-in-out;
}
main > div > div > div > div:last-child {
    background: linear-gradient(135deg, #87172F, #540E29 100%);
}
main > div > div > div > div:hover {
    cursor: pointer;
    opacity: .8;
}
main > div > div > div > div:active {
    animation-name: buttonPressed;
    animation-duration: .4s;
}
div.messageBox {
    background-color: #344659;
    color: #F3F9FF;
    padding: .5em;
    border-radius: .25em;
    animation-name: messageBoxShow;
    animation-duration: .4s;
    transform-origin: top;
    margin: 1em 0 0 0;
}
div.messageBox > p {
    font-weight: 700;
}
div.messageBox:hover {
    cursor: pointer;
    opacity: .8;
}
main > div > div {
    max-width: 35em;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2em;
    padding: 2em;
    background-color: #DEEAF6;
    box-shadow: -.5em -.5em 1em #F3F9FF,
                .5em .5em 1em #BECBD8;
}
ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    margin: 2em 0 0 0;
}
form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: .5em 0 0 0;
}
li:not(.input-item) {
    border: .125em solid #BECBD8;
    background-color: #BECBD8;
    color: #151518;
    margin: .25em;
    padding: .5em;
    border-radius: .25em;
    font-weight: 700;
    animation-name: newListItem;
    animation-duration: .4s;
}
li {
    width: 100%;
}
li:hover {
    cursor: pointer;
}

li input[type="text"] {
    width: 100%;
    font-size: 1em;
    padding: .55em;
    margin: .25em 0;
    border-radius: .25em;
    background-color: #F3F9FF;
    border: .125em solid #BECBD8;
    outline: none;
    color: #151518;
    -webkit-appearance: none;
}
li input[type="text"]:focus {
    border: .125em solid #006699;
}
li input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    padding: .75em;
    margin: .25em 0 .25em .25em;
    border-radius: .25em;
    background: linear-gradient(135deg, #006699, #00017F 135%);
    border: none;
    outline: none;
    color: #F3F9FF;
    text-transform: uppercase;
    -webkit-appearance: none;
    transition: opacity .2s ease-in-out;
}
li input[type="submit"]:focus,
li input[type="submit"]:active {
    opacity: .75;
}
li input[type="submit"]:hover {
    opacity: .75;
    cursor: pointer;
}
li.done {
    text-decoration: line-through;
    font-weight: 400;
    opacity: .5;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #1A1B1E;
    }
    h1 {
        color: #006699;
    }
    main > div > div {
        background-color: #1A1B1E;
        box-shadow: -.5em -.5em 1em #242529,
                    .5em .5em 1em #151518;
    }
    main > div > div > div > div {
        color: #DEEAF6;
    }
    div.messageBox {
        background-color: #2e3e4e;
        color: #DEEAF6;
    }
    li:not(.input-item) {
        border: .125em solid #151518;
        background-color: #151518;
        color: rgb(194, 197, 201);
    }
    li input[type="text"] {
        background-color: #242529;
        border: .125em solid #151518;
        color: #DEEAF6;
    }
    li input[type="submit"] {
        color: #F3F9FF;
    }
}



@media screen and (max-width: calc(40.625em)) {
    main > div {
        padding: 0;
    }
    main > div > div {
        max-width: 100%;
        box-shadow: none;
        padding: 1.5em;
    }
}